body{
  font-family: Times, Times New Roman, serif;
  font-size: 16px;
}

header{
 	height: 100px;
}

img{
	width: 100%;
}

table{
	table-layout: fixed;
}

.clr{
	clear: both;
}

.far{
  font-size: 20px;
}

.navbar{
  margin: 0;
  padding: 0;
}

.nav-item{
  margin: 0;
  padding: 0 0.5%;
}

.separator{
  border: 1px double #6c757d;
  padding: 0;
  width: 0;
}

.main-container{
	margin: 1.5% 5%;
	width: 90%;
}

.delete-button-container{
	text-align: right;
}

.image-description{
	text-align: center;
}

.active-top-button{
	left: 25px;
}

.anchor{
	color: black;
}

.anchor:hover{
	color: black;
	text-decoration: none;
}

.menu{
    background-color: #f4f4f4;
    color: #333;
    border: 1px solid #aaa;
    box-shadow: 2px 2px 2px #999;
    border-radius: 0.2rem;
    list-style: none;
	padding: 0;
    position: fixed;
}

.menu.off{
    top: -200%;
    left: -200%;
}

.menu-button{
	border: none;
	text-align: left;
	width: 100%;
}

.menu-button:hover{
	background-color: #343a40;
	color: white;
}

.jq-cell-selected{
  border: 5px solid #007bff !important;
}

#showContent{
  color: #6c757d;
  font-size: 25px;
}

#showContent:hover{
  color: white;
}

#on-top{
	transition: all .25s ease;
	position: fixed;
	z-index: 15;
	bottom: 25px;
	right: -100%;
	cursor: pointer;
	width: 30%;
}

@media(min-width: 1200px){

}

@media(min-width: 992px and max-width: 1199px){

}

@media(min-width: 768px and max-width: 991px){

}

@media(min-width: 576px and max-width: 767px){

}

@media(max-width: 575px){

}
